body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    background: whitesmoke;
}

.container {
    height: 250px;
    background-color: rgb(21, 204, 164);
    display: inline-block;
    width: 100%;

}

.logoicon {
    margin-top: 30px;
    width: 5%;
    float: left;
    margin-left: 150px;

}
.text{
    width: 40%;
    float: left;
    height: 40px;
    margin-left: 0px;
    margin-top: 45px;
    font-size: 20px;
    vertical-align: 50%;
}

.logoicon img {
    width: 50px;
    height: 50px;
}
.text a {
    text-decoration: none;
    color: white;
    font-weight: 700;

}

.container-2 {
    width: 65%;
    height: auto;
    background-color: white;
    margin-top: 100px;
    margin-left: 250px;
    border-radius: 3px;
    box-shadow: -9px 9px 9px -9px;
}

.row {
    width: 100%;
    height: auto;
    display: inline-block;
}

.col-1 {
    width: 50%;
    float: left;

}

.col-2 {
    width: 50%;
    float: left;
    position: relative;
}
.box {
    position: absolute;
    top: 50%;
    transform: translateX(25w);
}

.col-1 h3 {
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 21px;
}
.col-2 img {
    width: 80%;
    float: right;
}

p{
    margin-top: 40px;
    margin-left: 50PX;

}

.row-2 {
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: rgb(250,250,250);
}

iframe {
    width: 60%;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 180px;

}
.Question {
    color: green;
    margin-top: 50px;
}

/* button {
    background-color: white;
    border: 0px;
    padding: 4%;
    color: white;
    font-size: 10px;
    justify-content: center;
    margin-right: 50px;
} */

.box {
    width: 70%;
    height: auto;
    color: black;
    background-color: whitesmoke;
    font-size: 5px;
    border: none;
    margin-left: 180px;

}

.admin {
    justify-content: right;
    margin-top: 50px;
    justify-items: right;
    margin-left: 80%;
    background-color: rgb(21, 204, 164);
}
.admin button{
    border: none;
    border-radius: 1px;
} 

a {
    color: #00a884;
}

#google {

   width: 70%;
}