* {
    margin: 0;
    padding: 0;
   
}

#nav {
    background: rgb(21,204,164);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

#nav_logo {
    width: 180px;
    height: 70px;
    margin: 20px 25px 0px 30px;
    transition: .5s;
}

#search {
    width: 500px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 25px;
    border: none;
    outline: 0;
    margin-top: 30px;
    margin-left: -50px;
    padding: 15px;
    font-size: 18px;
}

#searchBtn {
    /* border: 1px solid red; */
    margin-top: 7px;
    margin-right: 10px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
}

#logout-btn{
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 50px;
    color: #474747;
    background-color: #ffffff;
    cursor: pointer;
}

#logout-btn:hover{
    background-color: rgb(21,204,164);
    border: 3px solid #ffffff;
    color: #ffffff;
}

/* ************************* media query  *********************** */
@media screen and (max-width: 889px) {

    #nav_right_top,
    #btn_bottom_left {
        display: none;
    }

    #nav_logo {
        width: 120px;
        height: 60px;
        margin: 20px 25px 0px 30px;
    }
#nav_bottom{
    margin-top: 22px;
}
    #nav_section_left {
        /* border: 1px solid red; */
        height: auto;
        width: 200px;

    }

    #btn_search {
        margin-left: 50px;
        margin-top: 20px;
    }

    #btn_bottom_right {
        margin-top: 20px;
        margin-right: 30px;
    }

    #btn_menu {
        display: block;
    }
}

@media screen and (max-width: 641px) {

    #nav_right_top,
    #btn_bottom_left {
        display: none;
    }

    #btn_search {
        margin-left: 0px;
        margin-top: 20px;
    }

    #search {
        font-size: 14px;
        margin: 0%;
        padding-top: 5px;

    }
}

/* ********************************************* */